
$primary:#2c3f83;
$secondary:#795468;
$success:#08d17a;
$info:#0053cb;
$warning:#dec800;
$danger:#eb1800;
$light:#ddf5ff;
$dark:#001a6b;

$border-radius: .0rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";



body{
    background-color: $light;
}
.scroller{
    max-height: 550px;
    overflow-y: auto;
}
.card-header{
    font-size: x-large;
}
.navbar{
    border-radius: 0rem !important;
}